language: perl

sudo: required

perl:
    #- "5.20"
    #- "5.18"
    #- "5.16"
    #- "5.14"
    #- "5.12"
    - "5.10"

install:
    - sudo apt-get install autoconf sqlite3
    - git clone git://github.com/bestpractical/rt.git -b stable
    - cd rt
    - autoreconf
    - ./configure --with-db-type=SQLite
    - make fixdeps
