language: perl

sudo: required

perl:
    #- "5.20"
    #- "5.18"
    #- "5.16"
    #- "5.14"
    #- "5.12"
    - "5.10"

install:
    - sudo apt-get install autoconf sqlite3
    - git clone git://github.com/bestpractical/rt.git -b stable /tmp/rt
    - cd /tmp/rt
    - autoreconf
    - ./configure --with-db-type=SQLite
    - cpanm -n HTML::Mason
    - cpanm -n Apache::Session
    - cpanm CGI::Emulate::PSGI Text::Quoted Regexp::IPv6
    - cpanm Class::Accessor::Fast Encode
    - cpanm Crypt::Eksblowfish CSS::Squish CGI::PSGI Module::Versions::Report
    - cpanm Date::Extract HTML::Mason::PSGIHandler MIME::Entity
    - cpanm Locale::Maketext::Lexicon Role::Basic Module::Refresh
    - cpanm Text::Password::Pronounceable Time::ParseDate Date::Manip
    - cpanm HTML::RewriteAttributes Tree::Simple HTML::Scrubber
    - cpanm HTML::Quoted XML::RSS Text::WikiFormat DBIx::SearchBuilder
    - cpanm Mail::Mailer Data::GUID Regexp::Common
    - cpanm HTML::FormatText::WithLinks Symbol::Global::Name
    - cpanm DateTime::Format::Natural Plack Mail::Header Locale::Maketext::Fuzzy
    - cpanm Email::Address::List Text::Wrapper Regexp::Common::net::CIDR
    - cpanm HTML::FormatText::WithLinks::AndTables Net::CIDR JSON
    - cpanm UNIVERSAL::require Email::Address Plack::Handler::Starlet
    - cpanm Net::SSL Crypt::SSLeay
    - cpanm MIME::Types
    - cpanm FCGI::ProcManager FCGI
    - cpanm PerlIO::eol GnuPG::Interface
    - cpanm Data::ICal
    - cpanm String::ShellQuote Crypt::X509
    - cpanm Convert::Color
    - make testdeps
    - sudo make install
    - cd -
    - cpanm Net::LDAP
    - perl Makefile.PL

script:
    - RTHOME=/opt/rt4/lib prove -I/opt/rt4/lib -lr xt
